body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: none repeat scroll 0 0 #DDDEDE;
}

#page{
  float: left;
  width:99%;
  margin:10px;
}

#main-content {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 0 0 5px 5px;
  box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.3);
  float: left;
  padding: 0;
  width: 100%;
  min-height: 552px;
}

#sidebar {
  padding: 20px 20px 20px 0;
	float:right;
}

#logo {
  float: left;
  font-size: 200%;
  padding: 10px 20px;
  width: 97%;
}

#site-logo {
  float: left;
}

#site-name {
  float: right;
}

#mainmenu {
  background: none repeat scroll 0 0 #2773AE;
  box-shadow: 0 -10px 8px -10px #074979 inset, 0 10px 8px -10px #074979 inset;
}

#mainmenu ul
{
  margin:0px;
}

#mainmenu ul li
{
	display: inline;
	float:left;
}

#mainmenu ul li:first-child {
  border-left: none !important;
  padding-left: 10px;
}
#mainmenu ul li:last-child {
  border-right: none !important;
}

#mainmenu ul li {
  cursor:pointer;
  color:#FFF;
  background-color:transparent;
  font-weight: bold;  
  text-decoration:none;
  line-height: 45px;
  padding: 0 14px;
  border-left: 1px solid #3E92D0;
  border-right: 1px solid #074979;
  height: 46px;
}

.right-menu-link ul#nav li.welcome:hover {
  background:none !important;
} 


#mainmenu ul li a {
  cursor:pointer;
  color:#FFF;
  text-decoration: none;  
}

.left-menu-link ul li a {
  float: left;
  height: 47px;
  width: 70px;
}

.right-menu-link ul#nav li.welcome {
  cursor: default !important;
}

#mainmenu ul li:hover { 
  background:none repeat scroll 0 0 #074979;
}
.right-menu-link,
.right-menu-link #nav a {
    float: right;
}

.left-menu-link {
    float: left;
}


#mainmenu ul li a:hover, #mainmenu ul li.active a
{
  text-decoration:none;
}



div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #87AADE;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;

}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #87AADE;
	/*border-left: 5px solid #6FACCF;*/
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: white;
	background:#87AADE;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
/*	background:#e7e5e5;*/
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
	padding-left: 5px;
}

.operations li a
{
	font: bold 12px Arial;
	/*color: #0066A4;*/
	color: #6698FF;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
	background:white;
}

.operations li a:visited
{
	/*color: #0066A4;*/
	color: #6698FF;
}

.operations li a:hover
{
	/*background: #80CFFF;*/
	background: white;
}
#company-name {
    font-size: 15px;
}
.ui-dialog .ui-dialog-titlebar 
{
    background: none repeat scroll 0 0 #87AADE;
    padding: 0.4em 1em;
    position: relative;
}

.tab
{
	font-weight: bold;
	font-size: 0.9em;
	display: block;
	margin-right:5px;
	float:left;
	width:70px;
}

#footer .powered-by {
  float: right;
  margin-right: 15px;
}

#footer .powered-text {
  float: left;
  line-height: 55px;
  margin-right: 20px;
}
