




.mailbox-list{
	padding: 10px !important;
}


.mailbox-menu-folders{
	padding:4px 6px 4px 4px !important;
	margin-bottom: 4px !important;
}

.mailbox-menu-newmsg{
	padding:4px;
	margin-bottom: 4px;
}
.mailbox-message-subject{
	padding:10px;
}

.mailbox-compose{
	padding:10px !important;
}
.mailbox-summary{
	font-size:1.4em;
}