/* 
    Document   : mailbox
    Created on : Apr 12, 2012, 10:16:09 AM
    Author     : derek
    Description:
        Mailbox styles.
*/
/*
#content{
	
	overflow-x: hidden;
}*/
.summary {
float:left;

}

.mailbox-items-tbl{
	display: inline-table;
	margin-top:5px;
	margin-bottom:5px;
	width:100% !important;
}
#mailbox-items{
	width:auto;
}
#mailbox-list{
	 padding:0px;
	 margin-top:20px;
	 table-layout: auto;
	 clear:both;
}
.mailbox-message-list{
	margin-top:20px;
}
.mailbox-compose{
	margin-top:20px;
}
.mailbox-pager{
	float:right;
	white-space: nowrap;
}
.mailbox-item td{
	border-bottom:1px solid #ccc;
	padding:0px;
	width:100%;
	overflow:hidden;
	white-space: nowrap;
}
tr.mailbox-item:first-child td{
	border-top:1px solid #ddd;
}
tr.mailbox-item > td > div{
	padding:12px 8px 12px 8px;
	display: block;
	width:auto;
	height: 1em;
}
.mailbox-subject{
	min-width: 100px;
	max-width: 100%;
	width:auto;
	height:auto;
}
.mailbox-item-even{
	background-color: #f9f9f9;
}
.mailbox-item-odd{
	background-color: #efefef;
}
.mailbox-item-hover{
	background-image: url('../img/grippy.png');
	background-position: 10px , 5px;
	background-repeat: no-repeat;
	cursor:grab;
	cursor: url(../img/openhand.cur), move;
}
.mailbox-drag{
	width:12px;
}
.mailbox-dragger{
	cursor:grabber;
	cursor: url(../img/closedhand.cur), move;
	position:relative;
	opacity: .8;
}
#mailbox-trash-tinydesc{
	font-size: .7em;
}
.mailbox-subject-brief{
	cursor:pointer;
	vertical-align: top;
}
.mailbox-sorter{
	float:right;
}
.mailbox-sorter ul{
	margin: 0px;
}
.mailbox-received{
	width:250px !important;
	white-space: nowrap;
}
.mailbox-right-col{
	width:150px;
}
.msg-new .mailbox-from, 
.msg-new .mailbox-subject .mailbox-subject-text,
.msg-new .mailbox-received{
	font-weight:bold;
}
.msg-new .mailbox-from{
	background:transparent url('../img/email.png') no-repeat 0 70%;
}
.msg-deliver .mailbox-from{
	background:transparent url('../img/email_deliver.png') no-repeat 0 70%;
}
.msg-read .mailbox-from{
	background:transparent url('../img/email_open.png') no-repeat 0 70%;
}
/* If recipientRead is disabled then use the below default class for sent message list */
.msg-sent .mailbox-from{
	background:transparent url('../img/arrow_right.png') no-repeat 0 70%;
}
.msg-read .mailbox-from .mailbox-subject{
	font-weight: normal;
	font-style: italic;
}
div.mailbox-replied{
	width:20px;
	float:left;
	background: url('../img/arrow_back.png') no-repeat center center;
}
.mailbox-msg-brief{
	color:#666;
}
div.mailbox-from{
	padding-left: 20px !important;
}
.mailbox-from{
	width:120px;
}
.mailbox-input{
	padding:0.3em;
}

.mailbox-deleted-user{
	color:#c00;
	font-weight: normal;
	font-family: "Courier",monospace;
}
.mailbox-menu{
}
.mailbox-menu-newmsg{
	float:right;
}
.mailbox-menu-item{/*
	padding:10px;
	margin-bottom: 15px;
	background-color: #f9f9f9;
	font-size: 1.2em;*/
	margin-right:10px;
	width:140px;
	float:left;
	font-weight:bold;
	cursor:pointer;
	text-align: left;
}
.mailbox-menu-item:last-child{
	margin-right:0px;
}
.mailbox-menu-hover{
	background-color:#C9E0ED !important;
}
.mailbox-menu-current{
	color:#c00;
	font-weight:bold;
}
.mailbox-menu-new{
	font-weight:bold;
	margin: 2px;
	padding:5px;
}

.mailbox-trash-active{
	border: 3px solid #d00 !important;
}
.mailbox-trash-hover{
	background-color:#ddb1b1;
	border: 3px solid #c99;
}
.mailbox-menu-folders{
	float:left;
}

.mailbox-message-header{
	background-color: #eee;
	padding:8px;
	display:block;
}
.mailbox-message-subject{
	font-size: 1.8em;
	padding:0px;
}
.message-sender{
	float:left;
	font-weight:bold;
}
.message-date{
	float:right;
}
.mailbox-message-text{
	padding:15px;
	font-size:1.1em;
	text-wrap:normal;
	word-wrap:break-word;
	word-break:break-all;
}
.mailbox-message-reply textarea,
.mailbox-compose textarea{
	width:100%;
	padding:.8em;
	float:left;
}
.mailbox-textarea-wrap{
	margin-right:1.8em;
}
.mailbox-message-reply{
	margin-bottom: 10px;
}
.mailbox-message-reply .mailbox-textarea-wrap{
	margin-bottom: 10px;
}
.mailbox-message-reply label{
	padding-top: 6px;
	font-weight:bold;
}
.mailbox-input-row{
	margin-bottom: 12px;
}

.mailbox-checkall-buttons{
	float:left;
	width:240px;
}
.mailbox-empty{
	padding:20px;
	background-color: #eee;
	text-align: center;
	font-size:1.4em;
}
div.mailbox-loading  {
    opacity: .8;
    z-index: 999;
}
.mailbox-summary{
	float:left; padding-left:30px
}
.mailbox-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-moz-binding: url("../xml/ellipsis.xml#ellipsis");
}

/*
.flash-msg-wrapper{
	position: relative;
}
.flash-message{
	position:absolute;
	top:40%;
	width:700px;
	opacity: .9;
}  */
.mailbox-growls{
	margin-right:30px;
}
/* JUI Combobox/Autocomplete Widget */
.ui-combobox {
	position: relative;
	display: inline-block;
}
.ui-combobox-btn {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* adjust styles for IE 6/7 */
	*height: 1.7em;
	*top: 0.1em;
}
.ui-autocomplete-input {
	margin: 0 !important;
	padding: 0.3em;
}
.mailbox-menu .ui-widget{
	
}
.mailbox-item-outer{
	position:relative;
	height:100%;
}
.mailbox-item-inner{
	width: 100% !important;
	position:absolute;
	overflow:hidden;
}
/* not used 
.mailbox-item-background{
	position: absolute;
	top:0;
	left:0;
}
.mailbox-item-content{
	position: absolute;
	top:0;
	left:0;
} */
