body {
	margin: 0;
	padding: 0;
	background: #fff;
	width:100%;
	min-width:100%;
}
a{color:#2a2a2a; text-decoration:none; }
a:hover{color:#2a2a2a; text-decoration:underline;}

#pushobj {
  color: #555;
  font-family: sans-serif;
  font-size: 13px;
  left: 3%;
  position: absolute;
  top: 0;
  width: 97%;
}

