<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/jquery.multilevelpushmenu_grey.css">
        <link rel="stylesheet" href="css/collapsed.css">
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="http://oss.maxcdn.com/libs/modernizr/2.6.2/modernizr.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="pushobj" class="column">
            <!--==============Page Content Start [here]=====================-->
            <div class="header">
            	<div class="header-left"><img src="images/logo.png" alt="RUDRASOFTTECH" title="RUDRASOFTTECH"></div>
                <div class="header-right">
                	<div class="nav">
                      <ul class="nav-list">
                        <li><a href="index.html" class="nav-link"><i class="fa fa-bell"></i> <span class="nav-counter nav-counter-green">4</span></a></li>
                        <li><a href="index.html" class="nav-link"><i class="fa fa-envelope"></i> <span class="nav-counter nav-counter-blue">8</span></a></li>
                        <li><a href="index.html" class="nav-link"><i class="fa fa-tasks"></i> <span class="nav-counter">15</span></a></li>
                        <li><a href="index.html" class="nav-link user-image-nav"><img src="images/user_photo.jpg" width="51" height="51" class="userimage"></a></li>
                        <li class="user-image-line"><a href="index.html" class="nav-link">John Smaith <i class="fa fa-caret-down"></i></a></li>
                        <li><a href="index.html" class="nav-link"><i class="fa fa-comments"></i></a></li>
                      </ul>
                    </div>                	
                </div>
            </div>
            <!--==============Page Content Start [End]=====================-->
            <h1 class="pagetitle">Dashboard</h1>
            <!--Personal info tab date start-->
            <div class="personalinfo-tab">
            	<div class="personal-icon"><i class="fa fa-clock-o icon-color icon-size"></i></div>
                <div class="personal-icon">Personal Information</div>
            </div>
            <div class="personalinfo-tab-right">
            	<!--==============Date Section Start [Start]=====================-->
                <div class="date-displaybox">
                    <div class="date-display">
                        <span class="day-name">Wednesday</span>
                        <div class="clear-div"></div>
                        <span class="date-no">6<span>
                        <span class="month-no">Aug<span>
                    </div>
                    <div class="time-display">
                        <div class="time-pm">PM</div>
                        <div class="time-no">03:27</div>
                    </div>
                </div>                    
                <!--==============Date Section Start [End]=====================-->
            </div>
            <div class="clear-div"></div>
            <div class="image-tab">
            	<div class="image-box-user"><img src="images/user_photo_one.jpg" width="112" height="112"></div>
            </div>
            <div class="info-tab">
            	<div class="myinfo">
                	<div class="info-title">My Information</div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="info-label">Name - </td>
                        <td class="info-content">Pradep Mishra</td>
                        <td class="info-label">Birth Date -</td>
                        <td class="info-content">30/06/1973</td>
                      </tr>
                      <tr>
                        <td class="info-label">Gender - </td>
                        <td class="info-content">Male</td>
                        <td class="info-label">Designation  -</td>
                        <td class="info-content">UI Designer</td>
                      </tr>
                      <tr>
                        <td class="info-label">Department - </td>
                        <td class="info-content">Design</td>
                        <td class="info-label">&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
                </div>
                <div class="important-link">
                	<div class="info-title">Important Links</div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><div class="mytime-table-icon">&nbsp;</div></td>
                        <td><div class="attendance-icon">&nbsp;</div></td>
                      </tr>
                      <tr>
                        <td class="info-content-center">My Time Table</td>
                        <td class="info-content-center">My Time Table</td>
                      </tr>                    
                    </table>
                </div>
                <!--Personal info tab date end-->
                <div class="clear-div"></div>
                <!--===============================Dashboard Boxes start============================-->
                <!--===============================Box row one start============================-->
                <div class="row-fluid">
                	<!--===============================Message of the day start============================-->
                	<div class="span3">
                        <div class="dashbox">
                        	<div class="box-header">
                        		<span class="title"><i class="fa fa-send"></i> Message of the day</span>
                        	</div>
                        	<div class="box-content">
                            	<div class="box-content-inner">
                                	<div class="box-title">Leadership for Teen Girls</div> 
                                    <div class="box-title-content">
                                    	CEOs, USA Girl Scouting, Oprah & Sheryl Sandberg all 
                                        agree that today’s girls need leadership skills. 
                                        Leadership has many components: confidence, 
                                        experience & persistence to name a few. We’ve 
                                        researched key leadership topics that girls need 
                                        exposure to and developed a daily drip of these 
                                        powerful leadership principles. This message stream 
                                        is a potent combination toward helping our girls 
                                        optimize decisions and leap forward in life.                                        
                                        <br><br>
                                        CEOs, USA Girl Scouting, Oprah & Sheryl Sandberg all 
                                        agree that today’s girls need leadership skills. 
                                        Leadership has many components: confidence, 
                                        experience & persistence to name a few. We’ve 
                                        researched key leadership topics that girls need 
                                        exposure to and developed a daily drip of these 
                                        powerful leadership principles. This message stream 
                                        is a potent combination toward helping our girls 
                                        optimize decisions and leap forward in life.
                                     
                                    </div> 
                                </div>                                
                            </div>                   
                        </div>
                    </div>
                    <!--===============================Message of the day end============================-->
                    <!--===============================Today's birthday start============================-->   
                    <div class="span3">
                    	<div class="dashbox">
                        	<div class="box-header">
                        		<span class="title"><i class="fa fa-gift"></i> Today's birthday list</span>
                        	</div>
                        	<div class="box-content">
                            	<div class="box-section">
                                    <div class="avatar"><img src="images/user_photo.jpg" width="41" height="40"></div>
                                    <div class="news-content">
                                        <div class="news-title">Mark P. Happy Birthday</div>
                                        <div class="news-text">Today, 10:30 PM</div>
                                    </div>
                                </div> 
                                <div class="box-section">
                                    <div class="avatar"><img src="images/user_photo.jpg" width="41" height="40"></div>
                                    <div class="news-content">
                                        <div class="news-title">Mark P. Happy Birthday</div>
                                        <div class="news-text">Today, 10:30 PM</div>
                                    </div>
                                </div> 
                                <div class="box-section">
                                    <div class="avatar"><img src="images/user_photo.jpg" width="41" height="40"></div>
                                    <div class="news-content">
                                        <div class="news-title">Mark P. Happy Birthday</div>
                                        <div class="news-text">Today, 10:30 PM</div>
                                    </div>
                                </div> 
                                <div class="box-section-last">
                                    <div class="avatar"><img src="images/user_photo.jpg" width="41" height="40"></div>
                                    <div class="news-content">
                                        <div class="news-title">Mark P. Happy Birthday</div>
                                        <div class="news-text">Today, 10:30 PM</div>
                                    </div>
                                </div>                             
                            </div>                   
                        </div>
                    </div> 
                    <!--===============================Today's birthday end============================-->                   
                    <!--===============================Notice board Boxes start============================-->
                    <div class="span3">
                    	<div class="dashbox">
                        	<div class="box-header">
                        		<span class="title"><i class="fa fa-clipboard"></i> Notice board</span>
                        	</div>
                        	<div class="box-content">
                            	<div class="box-section">
                                    <div class="avatar blue">1</div>
                                    <div class="news-content">
                                        <div class="news-text-one">Sheryl Sandberg all agree that today’s girls need leadership skills</div>
                                    </div>
                                </div> 
                                <div class="box-section">
                                    <div class="avatar blue">2</div>
                                    <div class="news-content">
                                        <div class="news-text-one">Sheryl Sandberg all agree that today’s girls need leadership skills</div>
                                    </div>
                                </div> 
                                <div class="box-section">
                                    <div class="avatar blue">3</div>
                                    <div class="news-content">
                                        <div class="news-text-one">Sheryl Sandberg all agree that today’s girls need leadership skills</div>
                                    </div>
                                </div> 
                                <div class="box-section-last">
                                    <div class="avatar blue">4</div>
                                     <div class="news-content">
                                        <div class="news-text-one">Sheryl Sandberg all agree that today’s girls need leadership skills</div>
                                    </div>
                                </div>                             
                            </div>                  
                        </div>
                    </div>
                    <!--===============================Notice board Boxes end============================-->
                </div>
                <!--===============================Box row one end============================-->
                <!--===============================Box row two start============================-->
                <div class="row-fluid">
                	<!--===============================Message of the day start============================-->
                	<div class="span3">
                        <div class="dashbox">
                        	<div class="box-header">
                        		<span class="title"><i class="fa fa-bar-chart-o"></i> Attendance chart</span>
                        	</div>
                        	<div class="box-content">
                            	<div class="box-content-inner">
                                	<div class="chart">
                                        <div class="column-container">
                                            <div class="column-chart">
                                                <div class="fill"></div>
                                                <p class="rotulo">Present</p>
                                            </div>
                                            <div class="column-chart">
                                                <div class="fill"></div>
                                                <p class="rotulo">Holiday</p>
                                            </div>
                                            <div class="column-chart">
                                                <div class="fill"></div>
                                                <p class="rotulo">Week Off</p>
                                            </div>
                                            <div class="column-chart">
                                                <div class="fill"></div>
                                                <p class="rotulo">Absend</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>                   
                        </div>
                    </div>
                    <!--===============================Message of the day end============================-->
                    <!--===============================Today's birthday start============================-->   
                    <div class="span3">
                    	<div class="dashbox">
                        	<div class="box-header">
                        		<span class="title"><i class="fa fa-qrcode"></i> Photo gallery</span>
                        	</div>
                        	<div class="box-content">
                            	<div class="box-section">
                                    <div class="avatar-one"><img src="images/user_photo.jpg" width="60" height="60"></div>
                                    <div class="news-content-one">
                                        <div class="news-title">Mark P. Happy Birthday</div>
                                        <div class="news-text">Today, 10:30 PM</div>
                                    </div>
                                </div> 
                                <div class="box-section">
                                    <div class="avatar-one"><img src="images/user_photo.jpg" width="60" height="60"></div>
                                    <div class="news-content-one">
                                        <div class="news-title">Mark P. Happy Birthday</div>
                                        <div class="news-text">Today, 10:30 PM</div>
                                    </div>
                                </div> 
                                <div class="box-section-last">
                                    <div class="avatar-one"><img src="images/user_photo.jpg" width="60" height="60"></div>
                                    <div class="news-content-one">
                                        <div class="news-title">Mark P. Happy Birthday</div>
                                        <div class="news-text">Today, 10:30 PM</div>
                                    </div>
                                </div>
                            </div>                   
                        </div>
                    </div> 
                    <!--===============================Today's birthday end============================-->                   
                    <!--===============================Notice board Boxes start============================-->
                    <div class="span3">
                    	<div class="dashbox">
                        	<div class="box-header">
                        		<span class="title"><i class="fa fa-envelope"></i> Mail box</span>
                        	</div>
                        	<div class="box-content">
                            	<div class="box-section">
                                    <input type="checkbox" name="checkboxG4" id="checkboxG4" class="css-checkbox" /><label for="checkboxG4" class="css-label">Aliquam metus neque</label>
                                </div>  
                                <div class="box-section">
                                    <input type="checkbox" name="checkboxG4" id="checkboxG5" class="css-checkbox" /><label for="checkboxG5" class="css-label">Aliquam metus neque</label>
                                </div>
                                <div class="box-section">
                                    <input type="checkbox" name="checkboxG4" id="checkboxG6" class="css-checkbox" /><label for="checkboxG6" class="css-label">Aliquam metus neque</label>
                                </div>
                                <div class="box-section">
                                    <input type="checkbox" name="checkboxG4" id="checkboxG7" class="css-checkbox" /><label for="checkboxG7" class="css-label">Aliquam metus neque</label>
                                </div>
                                <div class="box-section">
                                    <input type="checkbox" name="checkboxG4" id="checkboxG8" class="css-checkbox" /><label for="checkboxG8" class="css-label">Aliquam metus neque</label>
                                </div>                                                         
                            </div>                  
                        </div>
                    </div>
                    <!--===============================Notice board Boxes end============================-->
                </div>
                <!--===============================Box row two end============================-->
                <!--===============================Box row three start============================-->
                <div class="row-fluid">
                	<!--===============================Branch wise student details start============================-->
                	<div class="span3">
                        <div class="dashbox">
                        	<div class="box-header">
                        		<span class="title"><i class="fa fa-bar-chart-o"></i> Branch wise student details</span>
                        	</div>
                        	<div class="box-content">
                            	<div class="box-content-inner">
                                	<div class="brances-inner">
                                    	<div class="brances-inner-left">
                                        	<div>Student One</div>
                                        	<div class="student-no">387</div>
                                        </div>
                                        <div class="brances-inner-right">
                                        	<div class="student-department">Mechanical</div>
                                        </div>
                                        <div class="clear-div"></div>
                                    </div>
                                    <div class="brances-inner">
                                    	<div class="brances-inner-left">
                                        	<div>Student One</div>
                                        	<div class="student-no">500</div>
                                        </div>
                                        <div class="brances-inner-right">
                                        	<div class="student-department">Electrical</div>
                                        </div>
                                        <div class="clear-div"></div>
                                    </div>
                                    <div class="brances-inner">
                                    	<div class="brances-inner-left">
                                        	<div>Student One</div>
                                        	<div class="student-no">257</div>
                                        </div>
                                        <div class="brances-inner-right">
                                        	<div class="student-department">Phisics</div>
                                        </div>
                                        <div class="clear-div"></div>
                                    </div>
                                </div>                                
                            </div>                   
                        </div>
                    </div>
                    <!--===============================Branch wise student details end============================-->
                    <!--===============================Personal time table start============================-->   
                    <div class="span4">
                    	<div class="dashbox">
                        	<div class="box-header">
                        		<span class="title"><i class="fa fa-users"></i> Personal time table</span>
                        	</div>
                        	<div class="box-content">
                            	<div class="box-content-inner">
                                	<div class="timetable-left">
                                    	<div class="timetable-left-section">
                                        	<div class="timetable-left-section-inner">
                                            	<div class="lesson">Lesson 1:08 - 09.00</div>
                                                <div class="subject">Maths</div>
                                                <div class="lesson">Room 31</div>
                                            </div>
                                        </div> 
                                        <div class="timetable-left-section">
                                        	<div class="timetable-left-section-inner">
                                            	<div class="lesson">Lesson 1:08 - 09.00</div>
                                                <div class="subject">Maths</div>
                                                <div class="lesson">Room 31</div>
                                            </div>
                                        </div> 
                                        <div class="timetable-left-section-one">
                                        	<div class="timetable-left-section-one-inner">
                                            	<div class="lesson">Lesson 1:08 - 09.00</div>
                                                <div class="subject">Computer Science</div>
                                                <div class="lesson">Room 31</div>
                                            </div>
                                        </div> 
                                        <div class="clear-div"></div>
                                    </div> 
                            		<div class="timetable-right">
                                    	<div class="timetable-cs-section">
                                            <div class="timetable-cs-left">                                        	
                                                <div class="cs-display">CS</div>
                                                <div class="cs-subject">Computer Science</div>
                                            </div>                                            
                                            <div class="timetable-cs-right">&nbsp;</div>
                                            <div class="clear-div"></div>
                                       	</div>
                                        <div class="timetable-cs-section-one">                                        	
                                           <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                              <tr>
                                                <td class="time-content-left">Day</td>
                                                <td class="time-content-right">Monday</td>
                                              </tr>  
                                              <tr>
                                                <td class="time-content-left">Lesson</td>
                                                <td class="time-content-right">3</td>
                                              </tr>
                                              <tr>
                                                <td class="time-content-left">Start</td>
                                                <td class="time-content-right">10.00 AM</td>
                                              </tr>
                                              <tr>
                                                <td class="time-content-left">End</td>
                                                <td class="time-content-right">11.00 Am</td>
                                              </tr>
                                              <tr>
                                                <td class="time-content-left">Place</td>
                                                <td class="time-content-right">Room 2</td>
                                              </tr>    
                                              <tr>
                                                <td class="time-content-left">Type</td>
                                                <td class="time-content-right">Lecture</td>
                                              </tr>     
                                              <tr>
                                                <td class="time-content-left">Teacher</td>
                                                <td class="time-content-right">Mr. Rangrajan</td>
                                              </tr>         
                                            </table>
                                        </div>
                                    </div> 
                            	</div>  
                            </div>                   
                        </div>
                    </div> 
                    <!--===============================Personal time table end============================-->
                </div>
                <!--===============================Box row three end============================-->
                <!--===============================Dashboard Boxes end============================-->
            </div>            
    	</div>
        <div id="menu" class="column">
            <nav>
                <h2><i class="fa fa-reorder"></i>All Categories</h2>
                <ul>
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-laptop"></i>Dashboard</a>
                        <h2><i class="fa fa-laptop"></i>Devices</h2>
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-phone"></i>Mobile Phones</a>
                                <h2><i class="fa fa-phone"></i>Mobile Phones</h2>
                                <ul>
                                    <li>
                                        <a href="http://www.google.com">Super Smart Phone</a>
                                    </li>
                                    <li>
                                        <a href="#">Thin Magic Mobile</a>
                                    </li>
                                    <li>
                                        <a href="#">Performance Crusher</a>
                                    </li>
                                    <li>
                                        <a href="#">Futuristic Experience</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-desktop"></i>Televisions</a>
                                <h2><i class="fa fa-desktop"></i>Televisions</h2>
                                <ul>
                                    <li>
                                        <a href="#">Flat Super Screen</a>
                                    </li>
                                    <li>
                                        <a href="#">Gigantic LED</a>
                                    </li>
                                    <li>
                                        <a href="#">Power Eater</a>
                                    </li>
                                    <li>
                                        <a href="#">3D Experience</a>
                                    </li>
                                    <li>
                                        <a href="#">Classic Comfort</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-camera-retro"></i>Cameras</a>
                                <h2><i class="fa fa-camera-retro"></i>Cameras</h2>
                                <ul>
                                    <li>
                                        <a href="#">Smart Shot</a>
                                    </li>
                                    <li>
                                        <a href="#">Power Shooter</a>
                                    </li>
                                    <li>
                                        <a href="#">Easy Photo Maker</a>
                                    </li>
                                    <li>
                                        <a href="#">Super Pixel</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-book"></i>Magazines</a>
                        <h2><i class="fa fa-book"></i>Magazines</h2>
                        <ul>
                            <li>
                                <a href="#">National Geographics</a>
                            </li>
                            <li>
                                <a href="#">The Spectator</a>
                            </li>
                            <li>
                                <a href="#">Rambler</a>
                            </li>
                            <li>
                                <a href="#">Physics World</a>
                            </li>
                            <li>
                                <a href="#">The New Scientist</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-shopping-cart"></i>Store</a>
                        <h2><i class="fa fa-shopping-cart"></i>Store</h2>
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i>Clothes</a>
                                <h2><i class="fa fa-tags"></i>Clothes</h2>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-female"></i>Women's Clothing</a>
                                        <h2><i class="fa fa-female"></i>Women's Clothing</h2>
                                        <ul>
                                            <li>
                                                <a href="#">Tops</a>
                                            </li>
                                            <li>
                                                <a href="#">Dresses</a>
                                            </li>
                                            <li>
                                                <a href="#">Trousers</a>
                                            </li>
                                            <li>
                                                <a href="#">Shoes</a>
                                            </li>
                                            <li>
                                                <a href="#">Sale</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-male"></i>Men's Clothing</a>
                                        <h2><i class="fa fa-male"></i>Men's Clothing</h2>
                                        <ul>
                                            <li>
                                                <a href="#">Shirts</a>
                                            </li>
                                            <li>
                                                <a href="#">Trousers</a>
                                            </li>
                                            <li>
                                                <a href="#">Shoes</a>
                                            </li>
                                            <li>
                                                <a href="#">Sale</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Jewelry</a>
                            </li>
                            <li>
                                <a href="#">Music</a>
                            </li>
                            <li>
                                <a href="#">Grocery</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Collections</a>
                    </li>
                    <li>
                        <a href="#">Credits</a>
                    </li>
                </ul>
            </nav>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/jquery.multilevelpushmenu.min.js"></script>
        <script type="text/javascript" src="js/collapsed.js"></script>
         <script>
		function equalHeight(group) {
		   tallest = 0;
		   group.each(function() {
			  thisHeight = $(this).height();
			  if(thisHeight > tallest) {
				 tallest = thisHeight;
			  }
		   });
		   group.height(tallest);
		}
		$(document).ready(function() {
		   equalHeight($(".column"));
		});
		</script>
    </body>
</html>
